.btn-primary {
  background-color: #00B38C;
  border-color: #00B38C;
}
.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active {
  background-color: #009a78;
  border-color: #009a78;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover {
  background-color: #008064;
  border-color: #008064;
}
.alert {
  padding: 3px 5px;
  font-size: 12px;
}
.alert.alert-danger:before {
  content: "\e082";
  font-family: 'Glyphicons Halflings';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .box-center.container {
    width: 300px!important;
  }
}
.form-control.ng-invalid.ng-touched {
  border-color: #a94442;
}
